[Desktop Entry]
Name=Abraca
Comment=Manage Music
Comment[de]=Musik verwalten
Categories=AudioVideo;Audio;Player;
Keywords=Audio;Song;Playlist;Music;xmms2
Exec=abraca
Icon=org.xmms2.abraca
StartupWMClass=org.xmms2.abraca
Terminal=false
Type=Application
